/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'DSDigital';
  src: url('/assets/fonts/ds-digital/DS-DIGI.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DSDigital';
  src: url('/assets/fonts/ds-digital/DS-DIGIB.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}